body {
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    height: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 50px;
    padding: 0px 170px;
}

.container h1 {
    text-align: center;
    margin-top: 0px;
}

.container > table {
    box-shadow: 0px 8px 10px #827373;
    border-radius: 2px;
    border-collapse: collapse;
    margin: auto;
}

.container > table thead th {
    font-size: 18px;
    padding: 10px;
    text-align: left;
}

.container > table thead th:nth-child(1) {
    width: 220px;
}

.container > table thead th:nth-child(2) {
    width: 100px;
}

.container > table thead th:nth-child(3) {
    width: 280px;
}

.container > table thead th:nth-child(4) {
    width: 136px;
}

.container > table thead th:nth-child(5) {
    width: 190px;
}

.container > table tbody td {
    font-size: 18px;
    padding: 10px;
}

.container > table tbody tr:nth-child(even) {
    background-color: #e2e1e1;
}

.container > table thead tr:first-child {
    background-color: #525252;
    color: white;
}

.link > a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.link > a#edit {
    color: blue;
}

.fa-edit:before {
    color: blueviolet;
}

/* Search Box */

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    width: auto;
}

#add {
    box-sizing: border-box;
    border-radius: 3px;
    border: 2px solid #b59494;
    background-color: white;
    color: black;
    padding: 10px;
}

#add:hover {
    background-color: #b59494;
    color: white;
}

#myInput {
    border-radius: 3px;
    border: 2px solid #b59494;
    box-sizing: border-box;
    /* float: right; */
    padding: 10px;
}

/* Sort Icons */
.fa-sort {
    float: right;
}

.fa-sort-up {
    float: right;
    /* display: none; */
}

.fa-sort-down {
    float: right;
    /* display: none; */
}