body {
	margin: 0;
	background-color: #eeeeee;
}

.container {
	margin: 30px auto;
	max-width: 1000px;
}

.grid-row {
	margin-bottom: 5px; 
	display: flex;
	flex-direction: row;
}

.img-box {
	background-color: #eeeeee;
	overflow: hidden;
	box-sizing: border-box;
	/*width: calc(100% / 3 - 10px);*/
	transition: transform 0.3s linear;
	padding: 10px;
	border: 2px solid grey;
}

.img-box:first-child {
	margin-right: 5px;
}
.img-box:last-child {
	margin-left: 5px;
}

.img-box:hover {
	transform: scale(1.2);
}

.img-box img {
	max-width: 100%;
	transition: transform 0.3s linear;
}

.img-box img:hover {
	/*transform: scale(1.2);*/
}